<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.approval.demo.mapper.ApprovalMapper">

	<resultMap id="approvalJoinList" type="com.approval.demo.domain.ApprovalVO">
	    <id property="approvalNo" column="approvalNo" />
	    <result property="userNo" column="userNo" />
	    <result property="title" column="title" />
	    <result property="content" column="content" />
	    <result property="regTime" column="regTime" />
	    <result property="modTime" column="modTime" />
	    <result property="endTime" column="endTime" />
	  
	    <collection property="approvalLineVOList" ofType="com.approval.demo.domain.ApprovalLineVO">
	         <result property="approvalNo" column="approvalNo" />
	         <result property="userNo" column="adminUserNo" />
	         <result property="state" column="state" />
	         <result property="seq" column="seq" />
	         <result property="regTime" column="lineRegTime" />
	         <result property="modTime" column="lineModTime" />
	    </collection>
	</resultMap>

	<!-- 결재 상세 조회 -->
	<select id="getApproval" parameterType="com.approval.demo.domain.ApprovalVO" resultMap="approvalJoinList">
		SELECT a.approval_no approvalNo, a.user_no userNo, a.title, a.content, a.reg_time regTime, a.mod_time modTime, a.end_time endTime
				, b.approval_no approvalNo, b.user_no adminUserNo, b.state, b.seq, b.reg_time lineRegTime, b.mod_time lineModTime
		  FROM APPROVAL.APPROVAL A
		      ,APPROVAL.APPROVAL_LINE B
		 WHERE A.APPROVAL_NO = B.APPROVAL_NO
	       and A.approval_no = #{approvalNo}
	     ORDER BY a.approval_no desc, B.SEQ
	</select>

	<!-- 결재 목록 조회 -->
	<select id="getApprovalList" parameterType="com.approval.demo.domain.ApprovalVO" resultMap="approvalJoinList">
		SELECT a.approval_no approvalNo, a.user_no userNo, a.title, a.content, a.reg_time regTime, a.mod_time modTime, a.end_time endTime
				, b.approval_no approvalNo, b.user_no adminUserNo, b.state, b.seq, b.reg_time lineRegTime, b.mod_time lineModTime
		  FROM APPROVAL.APPROVAL A
		      ,APPROVAL.APPROVAL_LINE B
		 WHERE A.APPROVAL_NO = B.APPROVAL_NO
	       AND A.USER_NO = #{userNo}
	     ORDER BY a.approval_no desc, B.SEQ
	</select>

	<!-- 결재 요청 목록 조회 -->
	<select id="getApprovalRequestList" parameterType="com.approval.demo.domain.ApprovalVO" resultMap="approvalJoinList">
		SELECT a.approval_no approvalNo, a.user_no userNo, a.title, a.content, a.reg_time regTime, a.mod_time modTime, a.end_time
				, b.approval_no approvalNo, b.user_no adminUserNo, b.state, b.seq, b.reg_time lineRegTime, b.mod_time lineModTime
		  FROM APPROVAL.APPROVAL A
		      ,APPROVAL.APPROVAL_LINE B
		 WHERE A.END_TIME IS NULL
		       AND A.APPROVAL_NO = B.APPROVAL_NO
		       AND B.STATE = 'REQUEST'
		       AND B.USER_NO = #{userNo}
		 ORDER BY a.approval_no desc, B.SEQ
	</select>

	<!-- 결재 등록 -->
	<insert id="addApproval" parameterType="com.approval.demo.domain.ApprovalVO" useGeneratedKeys="true" keyProperty="approvalNo" keyColumn="approval_no">
		INSERT INTO approval.approval
		(	
			user_no, title, content, reg_time, mod_time
		)
		VALUES
		( 
			#{userNo}
			,#{title}
			,#{content}
			,now()
			,now()
		 )
	</insert>

	<!-- 결재선 등록 -->
	<insert id="addApprovalLine" parameterType="com.approval.demo.domain.ApprovalLineVO" >
		INSERT INTO approval.approval_line
		(	
			approval_no, user_no, seq, state, reg_time, mod_time
		)
		VALUES
		( 
			#{approvalNo}
			,#{userNo}
			,#{seq}
			,#{state}
			,now()
			,now()
		 )
	</insert>

	<!-- 결재 수정 -->
	<update id="updateApproval" parameterType="com.approval.demo.domain.ApprovalVO">
		UPDATE approval.approval
		<trim prefix="SET" suffixOverrides=",">
			<if test="title != null">	
			title = #{title},
			</if>
			<if test="content != null">	
			content = #{content},
			</if>
			<if test="endTime != null">	
			end_time = now(),
			</if>
			mod_time = now(),
		</trim>
		where approval_no = #{approvalNo}
		  and user_no = #{userNo}
	</update>

	<!-- 결재선 상태 수정 -->
	<update id="updateApprovalLine" parameterType="com.approval.demo.domain.ApprovalLineVO">
		UPDATE approval.approval_line
		   set state = #{state},
			   mod_time = now()
		where approval_no = #{approvalNo}
		  and user_no = #{userNo}
		  and state = 'REQUEST'
	</update>

	<!-- 다음 결재선 요청 상태로 변경 -->
	<update id="updateApprovalLineReadyToRequest" parameterType="com.approval.demo.domain.ApprovalLineVO">
		UPDATE approval.approval_line
		   set state = #{state},
			   mod_time = now()
		where approval_no = #{approvalNo}
		  and seq = #{seq}
		  and state = 'READY'
	</update>

	<!-- 결재 삭제 -->
 	<delete id="deleteApprovalLine" parameterType="com.approval.demo.domain.ApprovalVO">
		DELETE FROM approval.approval_line 
		 WHERE approval_no = #{approvalNo}
	</delete>
	
	<!-- 결재 종료 -->
	<update id="closeApproval" parameterType="com.approval.demo.domain.ApprovalVO">
		UPDATE approval.approval
		   SET end_time = now(),
			   mod_time = now()
		 where approval_no = #{approvalNo}
	</update>
	
	<!-- 다음 결재 번호 조회 -->
	<select id="getNextSeq" parameterType="com.approval.demo.domain.ApprovalVO" resultType="Integer">
	<![CDATA[
		SELECT min(seq) seq
		  FROM APPROVAL.APPROVAL_LINE 
		 where approval_no = #{approvalNo}
		   and state <> 'CONFIRM'
	]]>
	</select>
	
	<!-- 결재 수정 가능한지 확인 //TODO 수정중 -->
	<select id="getValidApprovalCount" parameterType="com.approval.demo.domain.ApprovalVO" resultType="Integer">
	<![CDATA[
		SELECT COUNT(*)
		  FROM APPROVAL.APPROVAL A
			   ,APPROVAL.APPROVAL_LINE B
		 where A.approval_no = #{approvalNo}
		   and a.approval_no  = b.approval_no 
		   and a.end_time is null
		   and b.state not in ('CONFIRM', 'REJECT')
		   and a.user_no = #{userNo}
	]]>
	</select>
	
	<!-- 결재선 수정 가능한지 확인 //TODO 수정중  -->
	<select id="getValidApprovalLineCount" parameterType="com.approval.demo.domain.ApprovalVO" resultType="Integer">
	<![CDATA[
		SELECT COUNT(*)
		  FROM APPROVAL.APPROVAL A
			   ,APPROVAL.APPROVAL_LINE B
		 where A.approval_no = #{approvalNo}
		   and a.approval_no  = b.approval_no 
		   and a.end_time is null
		   and b.state not in ('CONFIRM', 'REJECT')
		   and B.user_no = #{userNo}
	]]>
	</select>
</mapper>
