<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.approval.demo.mapper.ApprovalMapper">

	<select id="getApproval" parameterType="com.approval.demo.domain.ApprovalVO" resultType="com.approval.demo.domain.ApprovalVO">
		SELECT approval_no approvaNo, user_no userNo, title, content, state, reg_time regTime, mod_time modTime
		  FROM approval.approval
		 where approval_no = #{approvalNo, jdbcType=VARCHAR}
	</select>

	<select id="getApprovalListByUserNo" parameterType="com.approval.demo.domain.ApprovalVO" resultType="com.approval.demo.domain.ApprovalVO">
		SELECT approval_no approvaNo, user_no userNo, title, content, state, reg_time regTime, mod_time modTime
		  FROM approval.approval
		 where 1=1
		   and user_no = #{userNo, jdbcType=VARCHAR}
		    or admin_user_no = #{userNo, jdbcType=VARCHAR}
		   <if test="approvalNo != null">	
		   and approval_no = #{approvalNo, jdbcType=VARCHAR}
		   </if>
	</select>

	<insert id="addApproval" parameterType="com.approval.demo.domain.ApprovalVO" >
		INSERT INTO approval.approval
		(	
			user_no, title, content, reg_time, mod_time
		)
		VALUES
		( 
			#{userNo}
			,#{title}
			,#{content}
			,now()
			,now()
		 )
		<selectKey resultType="int" keyProperty="approvaNo" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	<insert id="addApprovalLine" parameterType="com.approval.demo.domain.ApprovalVO" >
		INSERT INTO approval.approval_line
		(	
			approval_no, user_no, state, reg_time, mod_time
		)
		VALUES
		( 
			#{approvaNo}
			,#{userNo}
			,'R'
			,now()
			,now()
		 )
	</insert>

	<update id="updateApproval" parameterType="com.approval.demo.domain.ApprovalVO">
		UPDATE approval.approval
		<trim prefix="SET" suffixOverrides=",">
			<!-- <if test="state != null">	
			state = #{state},
			</if> -->
			<if test="title != null">	
			title = #{title},
			</if>
			<if test="content != null">	
			content = #{content},
			</if>
			mod_time = now(),
		</trim>
		where approval_no = #{approvaNo}
	</update>

	<update id="closeApproval" parameterType="com.approval.demo.domain.ApprovalVO">
		UPDATE approval.approval
			end_time = now(),
			mod_time = now()
		where approval_no = #{approvaNo}
	</update>

	<update id="updateApprovalLine" parameterType="com.approval.demo.domain.ApprovalVO">
		UPDATE approval.approval_line
		<trim prefix="SET" suffixOverrides=",">
			state = #{state},
		</trim>
			mod_time = now()
		where approval_line_no = #{approvalLineNo}
	</update>

</mapper>
